<launch>

<node name="mic_logger" pkg="mic_logger" type="MicLogger.py" output="screen">
    <param name="com_port" type="string" value="/dev/ttyACM0" /> 
    <param name="com_baud" type="int" value="4000000" /> 
    <param name="com_cts" type="bool" value="true" /> 

    <param name="pga_gain" type="double" value="157" /> 
    <param name="pga_offset" type="double" value="10.6" /> 

    <param name="adc_freq" type="int" value="160000" /> 
    <param name="adc_samples_per_packet" type="int" value="500" /> 
    <rosparam param="adc_delim_seq">[0,0,0]</rosparam> 
</node>

</launch>
